<!DOCTYPE html>
<html>
<head>
    <title>My Spotify Profile 2</title>
</head>
<body>
    <h1>My Spotify Name</h1>
    <p>{{name}}</p>
    
    <h2>My Top Tracks</h2>
    <ul>
        {{#each topTracks}}
            <li>{{this.name}} by {{this.artists.[0].name}}</li>
        {{/each}}
    </ul>
</body>
</html>
