<!DOCTYPE html>
<html>
<head>
    <title>My Name</title>
</head>
<body>
    <h1>My Name</h1>
    <p>{{name}}</p>
      <h1>My Spotify Name</h1>
    <p>{{name}}</p>
  <h1>My Top Tracks</h1>
    <ul>
        {{#each tracks}}
            <li>{{this.name}} by {{this.artists.[0].name}}</li>
        {{/each}}
    </ul>
</body>
</html>