<!DOCTYPE html>
<html>
<head>
    <title>My Top Tracks</title>
</head>
<body>
    <h1>My Top Tracks</h1>
    <ul>
        {{#each tracks}}
            <li>{{this.name}} by {{this.artists.[0].name}}</li>
        {{/each}}
    </ul>
</body>
</html>